# Package compile selection, not a production firmware configuration.
CONFIG_TARGET_bmips=y
CONFIG_TARGET_bmips_bcm63268=y
CONFIG_TARGET_bmips_bcm63268_DEVICE_zyxel_sbg3300-n000=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
CONFIG_PACKAGE_kmod-sbg3300-xtm=m
CONFIG_PACKAGE_kmod-atm=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_kmod-usb-ohci=m
CONFIG_PACKAGE_kmod-leds-gpio=m
CONFIG_PACKAGE_kmod-leds-bcm6328=m
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
